
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: deepskyblue;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
 
.product-view img{
  height: 250px;
  width: 250px;
  border-radius: 15px;
}

.img {
  display:flex;
  justify-content: space-around; 
  
}

.img2 {
  display:flex;
  justify-content: space-around;
  padding-top: 50px; 
}

.img3 {
  display:flex;
  justify-content: space-around;
  padding-top: 50px; 
}

.container {
  margin-top: 25px;
}

.row {
  padding-top: 25px;
}

.collapse navbar-collapse .d-flex {
  display: flex;
  justify-content: center;
}

h3{
  height: 100px;
}

#about {
  margin-top: 40px;
  background-color: skyblue;
}

.content {
   text-align: center;
   margin-top: 10px;
}

.content1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  background-color:tomato;
  
}